# Azure App Service Deployment

name: Deploy to Azure App Service

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x'

    - name: Restore dependencies
      run: dotnet restore AspNetCoreApp/AspNetCoreApp.csproj

    - name: Build
      run: dotnet build AspNetCoreApp/AspNetCoreApp.csproj --configuration Release --no-restore

    - name: Publish
      run: dotnet publish AspNetCoreApp/AspNetCoreApp.csproj --configuration Release --output ./publish

    - name: Deploy to Azure Web App
      uses: azure/webapps-deploy@v3
      with:
        app-name: 'azure-web-app-api'
        publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
        package: ./publish
